In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [2]:
import seaborn as sns
import json

In [3]:
credits=pd.read_csv("C:\\Users\\User\\Downloads\\TMDB\\tmdb_5000_movies.csv")

In [4]:
movies=pd.read_csv("C:\\Users\\User\\Downloads\\TMDB\\tmdb_5000_credits.csv")

In [5]:
movies.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
credits.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

## Converting Json To strings

In [7]:
x=['genres', 'keywords', 'production_companies', 'production_countries']
for i in x:
    credits[i]=credits[i].apply(json.loads)

In [8]:
def json_to_str(a):
    for index,i in zip(credits.index, credits[a]):
        list1=[]
        for j in i:
            list1.append((j['name']))# the key 'name' contains the name of the coloumn passed
        credits.loc[index, a]=str(list1)

In [9]:
for i in x:
    json_to_str(i)

In [10]:
credits.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",http://www.avatarmovie.com/,19995,"['culture clash', 'future', 'space war', 'spac...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"['Ingenious Film Partners', 'Twentieth Century...","['United States of America', 'United Kingdom']",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"['Adventure', 'Fantasy', 'Action']",http://disney.go.com/disneypictures/pirates/,285,"['ocean', 'drug abuse', 'exotic island', 'east...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"['Walt Disney Pictures', 'Jerry Bruckheimer Fi...",['United States of America'],2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"['Action', 'Adventure', 'Crime']",http://www.sonypictures.com/movies/spectre/,206647,"['spy', 'based on novel', 'secret agent', 'seq...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"['Columbia Pictures', 'Danjaq', 'B24']","['United Kingdom', 'United States of America']",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"['Action', 'Crime', 'Drama', 'Thriller']",http://www.thedarkknightrises.com/,49026,"['dc comics', 'crime fighter', 'terrorist', 's...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"['Legendary Pictures', 'Warner Bros.', 'DC Ent...",['United States of America'],2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"['Action', 'Adventure', 'Science Fiction']",http://movies.disney.com/john-carter,49529,"['based on novel', 'mars', 'medallion', 'space...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,['Walt Disney Pictures'],['United States of America'],2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [11]:
x=['cast', 'crew']
for i in x:
    movies[i]=movies[i].apply(json.loads)

In [12]:
for index,i in zip(movies.index, movies['cast']):
    list1=[]
    for j in i:
        list1.append(j['name'])
    movies.loc[index,'cast']=str(list1)

In [13]:
for index,i in zip(movies.index, movies['crew']):
    list1=[]
    for j in i:
        if j['job']=='Director':
            list1.append(j['name'])
    movies.loc[index,'crew']=str(list1)

## renaming crew to director

In [15]:
movies.rename(columns={'crew':'director'},inplace=True)
movies.head()

,movie_id,title,cast,director
0,19995,Avatar,"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",['James Cameron']
1,285,Pirates of the Caribbean: At World's End,"['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",['Gore Verbinski']
2,206647,Spectre,"['Daniel Craig', 'Christoph Waltz', 'Léa Seydo...",['Sam Mendes']
3,49026,The Dark Knight Rises,"['Christian Bale', 'Michael Caine', 'Gary Oldm...",['Christopher Nolan']
4,49529,John Carter,"['Taylor Kitsch', 'Lynn Collins', 'Samantha Mo...",['Andrew Stanton']

## Merging two dataframes

In [33]:
movies_new=credits.merge(movies, left_on='id',right_on='movie_id',how='left')# merging the two csv files

In [34]:
movies_new.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,director
0,237000000,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",http://www.avatarmovie.com/,19995,"['culture clash', 'future', 'space war', 'spac...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"['Ingenious Film Partners', 'Twentieth Century...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",['James Cameron']
1,300000000,"['Adventure', 'Fantasy', 'Action']",http://disney.go.com/disneypictures/pirates/,285,"['ocean', 'drug abuse', 'exotic island', 'east...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"['Walt Disney Pictures', 'Jerry Bruckheimer Fi...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",['Gore Verbinski']

### Keeping only the desired columns

In [35]:
movies_new=movies_new[['id','original_title','genres','cast','vote_average','director','keywords']]
movies_new.head(2)

,id,original_title,genres,cast,vote_average,director,keywords
0,19995,Avatar,"['Action', 'Adventure', 'Fantasy', 'Science Fi...","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",7.2,['James Cameron'],"['culture clash', 'future', 'space war', 'spac..."
1,285,Pirates of the Caribbean: At World's End,"['Adventure', 'Fantasy', 'Action']","['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",6.9,['Gore Verbinski'],"['ocean', 'drug abuse', 'exotic island', 'east..."

In [36]:
movies_new['genres']=movies_new['genres'].str.strip('[]').str.replace(' ','').str.replace("'",'')

In [37]:
movies_new.head(1)

,id,original_title,genres,cast,vote_average,director,keywords
0,19995,Avatar,"Action,Adventure,Fantasy,ScienceFiction","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",7.2,['James Cameron'],"['culture clash', 'future', 'space war', 'spac..."

In [38]:
movies_new['genres']=movies_new['genres'].str.split(',')

,id,original_title,genres,cast,vote_average,director,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",7.2,['James Cameron'],"['culture clash', 'future', 'space war', 'spac..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",6.9,['Gore Verbinski'],"['ocean', 'drug abuse', 'exotic island', 'east..."

In [39]:
movies_new.head(2)

,id,original_title,genres,cast,vote_average,director,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",7.2,['James Cameron'],"['culture clash', 'future', 'space war', 'spac..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",6.9,['Gore Verbinski'],"['ocean', 'drug abuse', 'exotic island', 'east..."

## Creating list of all genres

In [40]:
genreList = []
for index, row in movies_new.iterrows():
    genres = row["genres"]
    
    for i in genres:
        if i not in genreList:
            genreList.append(i)

In [87]:
genreList

['Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'Crime',
 'Drama',
 'Thriller',
 'Animation',
 'Family',
 'Western',
 'Comedy',
 'Romance',
 'Horror',
 'Mystery',
 'History',
 'War',
 'Music',
 'Documentary',
 'Foreign',
 'TVMovie',
 '']

**Lets say for example we have 20 unique genres in the list. Thus the below function will return a list with 20 elements,which will be either 0 or 1. Now for example we have a Movie which has genre='Action', then the new column will hold [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0].**

**Similarly for 'Action,Adventure' we will have, [1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]. Converting the genres into such a list of binary values will help in easily classfying the movies by their genres.**

In [49]:
def binary(genres_of_movie):
    binaryList = []
    
    for i in genreList:
        if i in genres_of_movie:
            binaryList.append(1)
        else:
            binaryList.append(0)
    
    return binaryList

In [50]:
movies_new['binarylist']=movies_new['genres'].apply(lambda x: binary(x))

In [52]:
movies_new.head(2)

,id,original_title,genres,cast,vote_average,director,keywords,binarylist
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",7.2,['James Cameron'],"['culture clash', 'future', 'space war', 'spac...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",6.9,['Gore Verbinski'],"['ocean', 'drug abuse', 'exotic island', 'east...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [53]:
movies_new['cast']=movies_new['cast'].str.strip('[]').str.replace(' ','').str.replace("'",'')
movies_new['cast']=movies_new['cast'].str.split(',')

In [55]:
movies_new.head(2)

,id,original_title,genres,cast,vote_average,director,keywords,binarylist
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",7.2,['James Cameron'],"['culture clash', 'future', 'space war', 'spac...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",6.9,['Gore Verbinski'],"['ocean', 'drug abuse', 'exotic island', 'east...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [57]:
movies_new['keywords']=movies_new['keywords'].str.strip('[]').str.replace(' ','').str.replace("'",'').str.replace('"','')
movies_new['keywords']=movies_new['keywords'].str.split(',')

## Converting cast and keywords to binary

In [58]:
castList = []
for index, row in movies_new.iterrows():
    cast = row['cast']
    
    for i in cast:
        if i not in castList:
            castList.append(i)

In [62]:
key_wordList = []
for index, row in movies_new.iterrows():
     keywords= row['keywords']
    
     for i in keywords:
        if i not in key_wordList:
             key_wordList.append(i)

In [64]:
def binary2(data):
    binaryList = []
    
    for i in castList:
        if i in data:
            binaryList.append(1)
        else:
            binaryList.append(0)
    
    return binaryList

In [65]:
movies_new['binary_cast']=movies_new['cast'].apply(lambda x: binary2(x))

In [66]:
def binary3(data):
    binaryList = []
    
    for i in key_wordList:
        if i in data:
            binaryList.append(1)
        else:
            binaryList.append(0)
    
    return binaryList

In [67]:
movies_new['binary_keywords']=movies_new['keywords'].apply(lambda x: binary3(x))

In [68]:
movies_new.head(2)

,id,original_title,genres,cast,vote_average,director,keywords,binarylist,binary_cast,binary_keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",7.2,['James Cameron'],"[cultureclash, future, spacewar, spacecolony, ...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",6.9,['Gore Verbinski'],"[ocean, drugabuse, exoticisland, eastindiatrad...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [71]:
movies_new['director']=movies_new['director'].str.strip('[]').str.replace(' ','').str.replace("'",'')
movies_new['director']=movies_new['director'].str.split(',')

In [72]:
DirectorList = []
for index, row in movies_new.iterrows():
     director= row['director']
    
     for i in director:
        if i not in DirectorList:
             DirectorList.append(i)

In [76]:
def binary4(data):
    binaryList = []
    
    for i in DirectorList:
        if i in data:
            binaryList.append(1)
        else:
            binaryList.append(0)
    
    return binaryList

In [77]:
movies_new['binary_director']=movies_new['director'].apply(lambda x: binary4(x))

In [79]:
movies_new.head(2)

,id,original_title,genres,cast,vote_average,director,keywords,binarylist,binary_cast,binary_keywords,binary_director
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",7.2,[JamesCameron],"[cultureclash, future, spacewar, spacecolony, ...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",6.9,[GoreVerbinski],"[ocean, drugabuse, exoticisland, eastindiatrad...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [81]:
movies_new=movies_new[['id', 'original_title','genres','binarylist','cast','binary_cast','director','binary_director','keywords', 'binary_keywords', 'vote_average']]

In [85]:
movies_new['id']=list(range(0, len(movies_new)))

In [89]:
movies_new.rename(columns={'binarylist':'binary_gen'},inplace=True)

In [90]:
movies_new.head(2)

,id,original_title,genres,binary_gen,cast,binary_cast,director,binary_director,keywords,binary_keywords,vote_average
0,0,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[JamesCameron],"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[cultureclash, future, spacewar, spacecolony, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",7.2
1,1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[GoreVerbinski],"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[ocean, drugabuse, exoticisland, eastindiatrad...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",6.9

In [88]:
castList

['SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'StephenLang',
 'MichelleRodriguez',
 'GiovanniRibisi',
 'JoelDavidMoore',
 'CCHPounder',
 'WesStudi',
 'LazAlonso',
 'DileepRao',
 'MattGerald',
 'SeanAnthonyMoran',
 'JasonWhyte',
 'ScottLawrence',
 'KellyKilgour',
 'JamesPatrickPitt',
 'SeanPatrickMurphy',
 'PeterDillon',
 'KevinDorman',
 'KelsonHenderson',
 'DavidVanHorn',
 'JacobTomuri',
 'MichaelBlain-Rozgay',
 'JonCurry',
 'LukeHawker',
 'WoodySchultz',
 'PeterMensah',
 'SoniaYee',
 'JahnelCurfman',
 'IlramChoi',
 'KylaWarren',
 'LisaRoumain',
 'DebraWilson',
 'ChrisMala',
 'TaylorKibby',
 'JodieLandau',
 'JulieLamm',
 'CullenB.Madden',
 'JosephBradyMadden',
 'FrankieTorres',
 'AustinWilson',
 'SaraWilson',
 'TamicaWashington-Miller',
 'LucyBriant',
 'NathanMeister',
 'GerryBlair',
 'MatthewChamberlain',
 'PaulYates',
 'WrayWilson',
 'JamesGaylyn',
 'MelvinLenoClarkIII',
 'CarvonFutrell',
 'BrandonJelkes',
 'MicahMoch',
 'HanniyahMuhammad',
 'ChristopherNolen',
 'ChristaOliver',
 'AprilMarieThomas',
 'BravitaA.Threatt',
 'ColinBleasdale',
 'MikeBodnar',
 'MattClayton',
 'NicoleDionne',
 'JamieHarrison',
 'AllanHenry',
 'AnthonyIngruber',
 'AshleyJeffery',
 'DeanKnowsley',
 'JosephMika-Hunt',
 'TerryNotary',
 'KaiPantano',
 'LoganPithyou',
 'StuartPollock',
 'Raja',
 'GarethRuck',
 'RhianSheehan',
 'T.J.Storm',
 'JodieTaylor',
 'AliciaVela-Bailey',
 'RichardWhiteside',
 'NikieZambo',
 'JuleneRenee',
 'JohnnyDepp',
 'OrlandoBloom',
 'KeiraKnightley',
 'StellanSkarsgård',
 'ChowYun-fat',
 'BillNighy',
 'GeoffreyRush',
 'JackDavenport',
 'KevinMcNally',
 'TomHollander',
 'NaomieHarris',
 'JonathanPryce',
 'KeithRichards',
 'LeeArenberg',
 'MackenzieCrook',
 'GregEllis',
 'DavidBailie',
 'MartinKlebba',
 'DavidSchofield',
 'LaurenMaher',
 'VanessaBranch',
 'AngusBarnett',
 'GilesNew',
 'ReggieLee',
 'DominicScottKay',
 'TakayoFischer',
 'DavidMeunier',
 'Ho-KwanTse',
 'AndyBeckwith',
 'PeterDonaldBadalamentiII',
 'ChristopherS.Capp',
 'HakeemKae-Kazim',
 'GhassanMassoud',
 'DanielCraig',
 'ChristophWaltz',
 'LéaSeydoux',
 'RalphFiennes',
 'MonicaBellucci',
 'BenWhishaw',
 'DaveBautista',
 'AndrewScott',
 'RoryKinnear',
 'JesperChristensen',
 'AlessandroCremona',
 'StephanieSigman',
 'TenochHuerta',
 'AdrianaPaz',
 'DomenicoFortunato',
 'MarcoZingaro',
 'StefanoElfiDiClaudia',
 'IanBonar',
 'TamWilliams',
 'RichardBanham',
 'PipCarter',
 'SimonLenagan',
 'AlessandroBressanello',
 'MarcZinga',
 'BrigitteMillar',
 'AdelBencherif',
 'GediminasAdomaitis',
 'PeppeLanzetta',
 'FrancescoArca',
 'MatteoTaranto',
 'EmilioAniba',
 'BenitoSagredo',
 'DaiTabuchi',
 'GeorgeLasha',
 'SargonYelda',
 'AndyCheung',
 'ErickHayden',
 'OlegMirochnikov',
 'AntonioSalines',
 'MiloudMouradBenamara',
 'GidoSchimanski',
 'NigelBarber',
 'PatriceNaiambana',
 'StephaneCornicard',
 'GaryFannin',
 'SadaoUeda',
 'PhillipLaw',
 'WaiWong',
 'JosephBalderrama',
 'EijiMihara',
 'JunichiKajioka',
 'VictorSchefé',
 'HaraldWindisch',
 'TristanMatthiae',
 'DetlefBothe',
 'BodoFriesecke',
 'WilhemIben',
 'NoemiKrausz',
 'NoahSaavedra',
 'FrancisAttakpah',
 'MichaelGlantschnig',
 'MarlonBoess',
 'MarieWohlmuth',
 'LiliEpply',
 'KonstantinGerlach',
 'LaraParmiani',
 'UmitUlgen',
 'AmraMallassi',
 'ZiadAbaza',
 'WalidMumuni',
 'DerekHorsham',
 'NariBlair-Mangat',
 'MichaelWhite',
 'AdamMcGrady',
 'NaderDernaika',
 'PezhmaanAlinia',
 'JudiDench',
 'NeveGachev',
 'KarlFarrer',
 'KimAdis',
 'MaurisaSeleneColeman',
 'MatijaMondiMatović',
 'ChristianBale',
 'MichaelCaine',
 'GaryOldman',
 'AnneHathaway',
 'TomHardy',
 'MarionCotillard',
 'JosephGordon-Levitt',
 'MorganFreeman',
 'CillianMurphy',
 'JunoTemple',
 'LiamNeeson',
 'MatthewModine',
 'AlonAboutboul',
 'BenMendelsohn',
 'NestorCarbonell',
 'JoshPence',
 'TomConti',
 'JoeyKing',
 'WarrenBrown',
 'DanielSunjata',
 'SamKennard',
 'AliashTepina',
 'NickJulian',
 'MirandaNolan',
 'ClaireJulien',
 'AidanGillen',
 'BurnGorman',
 'BrettCullen',
 'JosephLyleTaylor',
 'ChrisEllis',
 'DuaneHenry',
 'JamesHarveyWard',
 'GonzaloMenendez',
 'CameronJack',
 'LexDaniel',
 'TylerDeanFlores',
 'ThomasLennon',
 'TrevorWhite',
 'RobBrown',
 'FredricLehne',
 'CourtneyMunch',
 'ChrisHill',
 'TravisGuba',
 'JayBenedict',
 'WillEstes',
 'DavidDayanFisher',
 'GlenPowell',
 'RussFega',
 'AndresPerez-Molina',
 'BrentBriscoe',
 'JohnNolan',
 'OliverCotton',
 'MarkKilleen',
 'SarahGoldberg',
 'JohnMacMillan',
 'RobertWisdom',
 'RonnieGeneBlevins',
 'JohnHollingworth',
 'IanBohen',
 'UriGavriel',
 'NoelGugliemi',
 'HectorAtreyuRuiz',
 'PatrickCox',
 'AramisKnight',
 'JoshStewart',
 'WilliamDevane',
 'DavidGyasi',
 'PatrickJordan',
 'JoshuaElijahReese',
 'DesmondHarrington',
 'MychaelBates',
 'TomasArana',
 'PeterHolden',
 'DavidMonahan',
 'JillianArmenante',
 'AjaEvans',
 'AldousDavidson',
 'WadeWilliams',
 'JakeCanuso',
 'MassiFurlan',
 'ChristopherJudge',
 'PatrickLeahy',
 'ToddGearhart',
 'MarcAbbink',
 'IsiahAdams',
 'CharlieAlejandro',
 'RobertArensen',
 'GrantBabbitt',
 'FileenaBahris',
 'RickBolander',
 'KylePatrickBrennan',
 'ScottChurchson',
 'BillCowher',
 'GrahamCurry',
 'StephanieDominiEhlert',
 'JohnFarrer',
 'FrankFata',
 'ChristopherBryanGomez',
 'VitoGrassi',
 'MichaelWrenGucciardo',
 'SamHarris',
 'EdHeavey',
 'JohnW.Iwanonkiw',
 'CindyJackson',
 'DanielJordano',
 'WilliamKania',
 'TiffanyKemp',
 'SunJaeKim',
 'HrvojeKlecz',
 'AlexKruz',
 'TylerLaMarr',
 'LeJon',
 'PaulJudeLetersky',
 'JoeLipari',
 'SilviaLombardo',
 'JorgeMardel',
 'CaleMcConnell',
 'DavidDaleMcCue',
 'TiffanySanderMcKenzie',
 'AllenMerritt',
 'OlanMontgomery',
 'AlexMoore',
 'ShaneNolan',
 'JacksonNunn',
 '"JosephOBrien"',
 'MichaelPapajohn',
 'SalomonPassariello',
 'KyleDavidPierce',
 'TroyPolamalu',
 'MichaelPower',
 'JamesRawlings',
 'KirstenRoeters',
 'BenRoethlisberger',
 'MarkRoman',
 'AnthonyJ.Sacco',
 'EricSalazar',
 'EmilySchooley',
 'ThomasTull',
 'ChrisVaina',
 'VincentvanOmmen',
 'MichelleVezzani',
 'BarbaraVincent',
 'JustinMichaelWoods',
 'JasonYee',
 'MariaZambrana',
 'JohnZion',
 'AlexZiwak',
 'TommyBayiokos',
 'MatthewGooley',
 'JeffMoffitt',
 'MarkFalvo',
 'DiogoHausen',
 'GarySievers',
 'OrionMcCabe',
 'LondonMay',
 'JamesQuinn',
 'DanielNewman',
 'TaylorKitsch',
 'LynnCollins',
 'SamanthaMorton',
 'WillemDafoe',
 'ThomasHadenChurch',
 'MarkStrong',
 'CiaránHinds',
 'DominicWest',
 'JamesPurefoy',
 'BryanCranston',
 'PollyWalker',
 'DarylSabara',
 'ArkieReece',
 'DavoodGhadami',
 'PippaNixon',
 'JamesEmbree',
 'PhilipPhilmar',
 'EmilyTierney',
 'EdmundKente',
 'NicholasWoodeson',
 'KyleAgnew',
 'DonStark',
 'JoshDaugherty',
 'JaredCyr',
 'ChristopherGoodman',
 'AmandaClayton',
 'JosephBillingiere',
 'TobeyMaguire',
 'KirstenDunst',
 'JamesFranco',
 'TopherGrace',
 'BryceDallasHoward',
 'RosemaryHarris',
 'JamesCromwell',
 'J.K.Simmons',
 'TheresaRussell',
 'DylanBaker',
 'BillNunn',
 'ElizabethBanks',
 'TedRaimi',
 'PerlaHaney-Jardine',
 'CliffRobertson',
 'ElyaBaskin',
 'MageinaTovah',
 'JoeManganiello',
 'StanLee',
 'BruceCampbell',
 'ChristopherYoung',
 'GrantCurtis',
 'DanielGillies',
 'JohnPaxton',
 'BeckyAnnBaker',
 'SteveValentine',
 'HalFishman',
 'LucyGordon',
 'ToniWynne',
 'AndreB.Blake',
 'TimMaculan',
 'MarcVann',
 'JoeBays',
 'GreggDaniel',
 'RogelioT.Ramos',
 'TimothyPatrickQuill',
 'KathrynBryding',
 'JoeVirzi',
 'BillE.Rogers',
 'MichaelAlexander',
 'AprilParker-Jones',
 'EdwardPadilla',
 'RobertCurtisBrown',
 'PaulTerrellClayton',
 'CarolynNeff',
 'ChristinaCindrich',
 'SonyaMaddox',
 '"DerrickPhoenixThomas"',
 'JessiCollins',
 'MichaelMcLaughlin',
 'AnneGartlan',
 'EmilioRivera',
 'KeithWoulard',
 'ReynaldoGallegos',
 'JimCoope',
 'DeanEdwards',
 'MargaretLaney',
 'AimeeMiles',
 'TanyaBond',
 'MarkKubr',
 'TonyBesson',
 'RamonAdams',
 'A.J.Adelman',
 'AngelisAlexandris',
 'DawnMarieAnderson',
 'FrankAnello',
 'AnyaAvaeva',
 'DavidBackus',
 'TiffanyL.Baker',
 'MarcC.Cancassi',
 'SujeileeCandele',
 'MichaelCiesla',
 'IrinaCosta',
 'JohnCrann',
 'CrystalMarieDenha',
 'AmyV.Dewhurst',
 'PaulEdney',
 'NatalieFabry',
 'KeithFausnaught',
 'AmandaFlorian',
 'BriannaLeannFlorian',
 'TiffanyAshleyFlorian',
 'ShaunPatrickFlynn',
 'LoganFry',
 'KevinFung',
 'TonyGaltieri',
 'ChuckGerena',
 'BrianHopson',
 'ClaudeJay',
 'JulieJei',
 'AndrewJamesJones',
 'NatalieJones',
 'ChristopherJude',
 'BrittanyKrall',
 'AlyssaLakota',
 'TiaLatrell',
 'LindaLee',
 'PierangeliLlinas',
 'BernadetteLords',
 'SandrineMarlier',
 'LauraMcDavid',
 'NatalieMcNeil',
 'DanielMignault',
 'MarthaMillan',
 'Michele-NanetteMiller',
 'ClaudiaKatzMinnick',
 'RobertMyers',
 'JenOda',
 'AnjeliaPelay',
 'NickPoltoranin',
 'VanessaReseland',
 'LaRivers',
 'BriaRoberts',
 'LuisRosa',
 'VanessaRoss',
 'BrennaRoth',
 'ShadeRupe',
 'ArickSalmea',
 'EricShackelford',
 'DanielShafer',
 'AbbeySkinner',
 'KristinSomo',
 'JenniferSparks',
 'ChristopherStadulis',
 'JimmyStar',
 'ArneStarr',
 'LiamStone',
 'TajnaTanovic',
 'AijaTerauda',
 'BrigidTurner',
 'EvelynVaccaro',
 'NickVlassopoulos',
 'SincerelyA.Ward',
 'SilqWebster',
 'GraigF.Weich',
 'FredrickWeiss',
 'JenniferWeston',
 'TrentonWilley',
 'RayWineteer',
 'ZacharyLevi',
 'MandyMoore',
 'DonnaMurphy',
 'RonPerlman',
 'M.C.Gainey',
 'JeffreyTambor',
 'BradGarrett',
 'PaulF.Tompkins',
 'RichardKiel',
 'DelaneyRoseStein',
 'NathanGreno',
 'ByronHoward',
 'TimMertens',
 'RobertDowneyJr.',
 'ChrisHemsworth',
 'MarkRuffalo',
 'ChrisEvans',
 'ScarlettJohansson',
 'JeremyRenner',
 'JamesSpader',
 'SamuelL.Jackson',
 'DonCheadle',
 'AaronTaylor-Johnson',
 'ElizabethOlsen',
 'PaulBettany',
 'CobieSmulders',
 'AnthonyMackie',
 'HayleyAtwell',
 'IdrisElba',
 'LindaCardellini',
 'ClaudiaKim',
 'ThomasKretschmann',
 'AndySerkis',
 'JulieDelpy',
 'HenryGoodman',
 'ChrisLuca',
 'BrianSchaeffer',
 'DominiqueProvost-Chalkley',
 'IsaacAndrews',
 'GarethKieranJones',
 'ChanWooLim',
 'MinheeYeo',
 'BentleyKalu',
 'JulianBleach',
 'ChristopherBeasley',
 'VuyoDabula',
 'NondumisoTembe',
 'KabeloThai',
 'LeleLeowaba',
 'MandlaGaduka',
 'HarrietManamela',
 'BeulahHashe',
 'MuscaKumalo',
 'MathapeloSeptember',
 'AntonyAcheampong',
 'ChiomaAnyanwu',
 'BenSakamoto',
 'ImogenPoynton',
 'IsabellaPoynton',
 'IngvildDeila',
 'SunnyYeo',
 'NamjuGo',
 'MinaKweon',
 'EarlT.Kim',
 'ArthurLee',
 'VerityHewlett',
 'MichaelMatovski',
 'AlmaNoce',
 'RiccardoRichetta',
 'ConstanzaRuff',
 'MontyMclaren-Clark',
 'JuliaKrynke',
 'TonyChristensen',
 'IanKay',
 'BarryAird',
 'AaronHimelstein',
 'KerryCondon',
 'JaidenStafford',
 'DilyanaBouklieva',
 'JoshBrolin',
 'JotiNagra',
 'NickW.Nicholson',
 'DanielWestwood',
 'DanielRadcliffe',
 'RupertGrint',
 'EmmaWatson',
 'TomFelton',
 'MichaelGambon',
 'JimBroadbent',
 'HelenaBonhamCarter',
 'RobbieColtrane',
 'MaggieSmith',
 'AlanRickman',
 'TimothySpall',
 'DavidThewlis',
 'JulieWalters',
 'MatthewLewis',
 'EvannaLynch',
 'BonnieWright',
 'OliverPhelps',
 'JamesPhelps',
 'MarkWilliams',
 'WarwickDavis',
 'NataliaTena',
 'KatieLeung',
 'DaveLegeno',
 'GeraldineSomerville',
 'HelenMcCrory',
 'FreddieStroma',
 'DavidBradley',
 'FrankDillane',
 'HeroFiennes-Tiffin',
 'GemmaJones',
 'AfshanAzad',
 'ShefaliChowdhury',
 'GeorginaLeonidas',
 'DevonMurray',
 'AnnaShaffer',
 'JoshHerdman',
 'JamieWaylett',
 'ScarlettByrne',
 'JessieCave',
 'LouisCordice',
 'AlfieEnoch',
 'RobertKnox',
 'WilliamMelling',
 'PaulRitter',
 'IsabellaLaughland',
 'RalphIneson',
 'SuzanneToase',
 'RodHunt',
 'ElaricaGallacher',
 'BenAffleck',
 'HenryCavill',
 'GalGadot',
 'AmyAdams',
 'JesseEisenberg',
 'DianeLane',
 'JeremyIrons',
 'LaurenceFishburne',
 'HollyHunter',
 'ScootMcNairy',
 'CallanMulvey',
 'TaoOkamoto',
 'JenaMalone',
 'BrandonSpink',
 'LaurenCohan',
 'HughMaguire',
 'MichaelCassidy',
 'AlanD.Purwin',
 'DanAmboyer',
 'RebeccaBuller',
 'HarryLennix',
 'ChristinaWren',
 'JadeChynoweth',
 'ChadKrowchuk',
 'KevinCostner',
 'EzraMiller',
 'PatrickWilson',
 'MichaelShannon',
 'CharlieRose',
 'VikramGandhi',
 'AndrewSullivan',
 'NeildeGrasseTyson',
 'JonStewart',
 '"SoledadOBrien"',
 'ErikaR.Erickson',
 'DanaBash',
 'NancyGrace',
 'AndersonCooper',
 'BrookeBaldwin',
 'CarlaGugino',
 'JasonMomoa',
 'JoeMorton',
 'RayFisher',
 'JosephCranford',
 'EmilyPeterson',
 'JeffreyDeanMorgan',
 'SammiRotibi',
 'HannaDworkin',
 'TiffanyL.Addison',
 'OwaisAhmed',
 'AnishJethmalani',
 'TiffanyBedwell',
 'NataleeArteaga',
 'KeithD.Gallagher',
 'JeffDumas',
 'MiriamLee',
 'AliciaRegan',
 'StephanieKoenig',
 'RipleySobo',
 'RichardBurden',
 'JuliusTennon',
 'WunmiMosaku',
 'DennisNorth',
 'KiffVandenHeuvel',
 'MasonHeidger',
 'AhneyHer',
 'KristineCabanban',
 'SebastianSozzi',
 'KentShocknek',
 'RalphLister',
 'SammyA.Publes',
 'JayR.Adams',
 'DavidMidura',
 'JayTowers',
 'MichaelEllison',
 'KirillOstapenko',
 'RashontaeWawrzyniak',
 'TomLuginbill',
 'DavePasch',
 'DannyMooney',
 'HenryFrostIII',
 'NicoleForester',
 'DebbieStabenow',
 'MilicaGovich',
 'JohnLepard',
 'SandraLoveAldridge',
 'GrahamW.J.Beal',
 'HenriFranklin',
 'JonathanWest',
 'T.J.Martinelli',
 'ChrisNewman',
 'LuluDahl',
 'SamLoganKhaleghi',
 'AnneMarieDamman',
 'ConnieCraig',
 'HenriettaHermelin',
 'AlbertValladares',
 'DavidParis',
 'AbigailKuklis',
 'GregVioland',
 'TirenJhames',
 'SteveJasgur',
 'JonathanStanley',
 'JesseNagy',
 'DuvaleMurchison',
 'ThomasJ.Fentress',
 'CoburnGoss',
 'JeffHanlin',
 'GaryA.Hecker',
 'RobinAtkinDownes',
 'IssacRyanBrown',
 'BartonBund',
 'BaileyChase',
 '"PatrickOConnorCronin"',
 'SonjaCrosby',
 'C.T.Fletcher',
 'AhmanGreen',
 'DianaGaitirira',
 'JaleneMack',
 'EsodieGeiger',
 'NeneNwoko',
 'ScottEdwardLogan',
 'MarcusGoddard',
 'CruzGonzalez-Cadel',
 'AlmaMartinez',
 'SalLopez',
 'MarcelShihadeh',
 'TheoBonganiNdyalvane',
 'SatoriShakoor',
 'EleBardha',
 'InderKumar',
 'BrandonBautista',
 'LauraAtwood',
 'DebbieScaletta',
 'DavidLeach',
 'GordonMichaels',
 'BrianBoland',
 'TarasLos',
 'JasonHughley',
 'SidiHenderson',
 'MeighanGerachis',
 'NicoleSantini',
 'AxelHarney',
 'WayneE.Brown',
 'DanteBriggins',
 'ShannonGarnett',
 'LynchR.Travis',
 'CarmenGangale',
 'JoeCipriano',
 'WillBlagrove',
 'MarceloBem',
 'BrandonRouth',
 'KevinSpacey',
 'KateBosworth',
 'JamesMarsden',
 'ParkerPosey',
 'FrankLangella',
 'SamHuntington',
 'EvaMarieSaint',
 'MarlonBrando',
 'KalPenn',
 'TristanLakeLeabu',
 'DavidFabrizio',
 'IanRoberts',
 'VincentStone',
 'JackLarson',
 'NoelNeill',
 'KeeganJoyce',
 'JordanaBeatty',
 'OlgaKurylenko',
 'MathieuAmalric',
 'GiancarloGiannini',
 'GemmaArterton',
 'JeffreyWright',
 'DavidHarbour',
 'AnatoleTaubman',
 'TimPigott-Smith',
 'JoaquínCosio',
 'GlennFoster',
 'StanaKatic',
 'LucreziaLantedellaRovere',
 'NeilJackson',
 'OonaChaplin',
 'RachelMcDowall',
 'GustavoNanez',
 'MarkWakeling',
 'SarahHadland',
 'DavidDecio',
 'AaronKing',
 'AlexandraPrusa',
 'BrandonJovanovich',
 'AlexandreKrawetz',
 'FernandoGuillénCuervo',
 'JesúsOchoa',
 'SimonKassianides',
 '"BrendanOHea"',
 'AlexNorton',
 'DermotKeaney',
 'CliveAshborn',
 'ChristopherAdamson',
 'JonathanLinsley',
 'JohnBoswall',
 'MaxBaker',
 'SteveSpeirs',
 'LukedeWoolfson',
 'JonathanKite',
 'ArmieHammer',
 'WilliamFichtner',
 'JamesBadgeDale',
 'TomWilkinson',
 'RuthWilson',
 'BarryPepper',
 'JamesFrain',
 'MasonCook',
 '"MattOLeary"',
 'LeonRippy',
 'HarryTreadaway',
 'DamonHerriman',
 'W.EarlBrown',
 'GilBirmingham',
 'SaginawGrant',
 'StephenBrodie',
 'MatthewPage',
 'BryantPrince',
 'JDCullum',
 'TimothyV.Murphy',
 'DamonCarney',
 'KevinWiggins',
 'ChadBrummett',
 'RobertBaker',
 'LewTemple',
 'StephenRoot',
 'RandyOglesby',
 'BradGreenquist',
 'RanceHoward',
 'LeonardEarlHowze',
 'TravisHammer',
 'SteveCorona',
 'JackAxelrod',
 'ChristopherHagen',
 'FredaFohShen',
 'MargaretBowman',
 'LuzP.Mendez',
 'LainaLoucks',
 'DevonJ.Adams',
 'DesiraeAnslover',
 'CharlotteCormier',
 'MeganPribyl',
 'BrianaVanSchuyver',
 'JulieStracener',
 'ChadRandall',
 'JasonE.Hill',
 'BethBailey',
 'JoanneCamp',
 'BobRumnock',
 'TaitFletcher',
 'AlexKnight',
 'ArgosMacCallum',
 'PokeyLafarge',
 'JoeyGlynn',
 'AdamHoskins',
 'RyanKoenig',
 'RussellCrowe',
 'AntjeTraue',
 'ChristopherMeloni',
 'JadinGould',
 'TahmohPenikett',
 'AyeletZurer',
 'RichardSchiff',
 'DylanSprayberry',
 'MichaelKelly',
 'RichardCetrone',
 'MackenzieGray',
 'JulianRichings',
 'MaryBlack',
 'SamanthaJo',
 'DavidLewis',
 'DougAbrahams',
 'BradKelly',
 'AlessandroJuliani',
 'JackFoley',
 'RobertGerdisch',
 'JacquelineScislowski',
 'SeanCampbell',
 'RajLal',
 'BenBarnes',
 'WilliamMoseley',
 'AnnaPopplewell',
 'SkandarKeynes',
 'GeorgieHenley',
 'SergioCastellitto',
 'AliciaBorrachero',
 'PeterDinklage',
 'VincentGrass',
 'PierfrancescoFavino',
 'DamiánAlcázar',
 'SimónAndreu',
 'PredragBjelac',
 'ShaneRangi',
 'CornellJohn',
 'KenStott',
 'TildaSwinton',
 'EddieIzzard',
 'KláraIssová',
 'TomHiddleston',
 'ClarkGregg',
 'GwynethPaltrow',
 'JennyAgutter',
 'WalterPerez',
 'PowersBoothe',
 'ArthurDarbinyan',
 'DonaldLi',
 'AshleyJohnson',
 'HarryDeanStanton',
 'AliciaSixtos',
 'DieterRiesle',
 'JamieMcShane',
 'JeffWolfe',
 'JerzySkolimowski',
 'MaximilianoHernández',
 'AlexisDenisof',
 'JamesEckhouse',
 'EnverGjokaj',
 'DamionPoitier',
 'TinaBenko',
 'KirillNikiforov',
 '"MlaahKaurSingh"',
 'RashmiRustagi',
 'WarrenKole',
 'JesseGarcia',
 'KennethTigar',
 'JoshCowdery',
 'KatsumiKomatsu',
 'YumikoKomatsu',
 'MomokoKomatsu',
 'RobertClohessy',
 'FernandaToker',
 'AndreaVecchio',
 'RobinSwoboda',
 'BrentMcGee',
 'MichaelZhang',
 'William-ChristopherStephens',
 'KelleyRobins',
 'RomyRosemont',
 'PatKiernan',
 'ThomasRoberts',
 'JillianMorgese',
 ...]

### Cosine Similarity

In [91]:
from scipy import spatial

def Similarity(movieId1, movieId2):
    a = movies_new.iloc[movieId1]
    b = movies_new.iloc[movieId2]
    
    genresA = a['binary_gen']
    genresB = b['binary_gen']
    
    genreDistance = spatial.distance.cosine(genresA, genresB)
    
    scoreA = a['binary_cast']
    scoreB = b['binary_cast']
    castDistance = spatial.distance.cosine(scoreA, scoreB)
    
    directA = a['binary_director']
    directB = b['binary_director']
    directorDistance = spatial.distance.cosine(directA, directB)
    
    wordsA = a['binary_keywords']
    wordsB = b['binary_keywords']
    wordsDistance = spatial.distance.cosine(directA, directB)
    
    return genreDistance + directorDistance + castDistance + wordsDistance

In [92]:
movies_new.iloc[34]

id                                                                34
original_title                                   Monsters University
genres                                           [Animation, Family]
binary_gen         [0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, ...
cast               [BillyCrystal, JohnGoodman, SteveBuscemi, Hele...
binary_cast        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
director                                                [DanScanlon]
binary_director    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
keywords           [monster, dormitory, games, animation, bestfri...
binary_keywords    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
vote_average                                                       7
Name: 34, dtype: object

In [154]:
a=input('Enter Movie Name-->')

Enter Movie Name-->Pirates of

In [155]:
new_movie=pd.DataFrame(movies_new[movies_new['original_title'].str.contains(a)].iloc[0]).T

In [156]:
new_movie

,id,original_title,genres,binary_gen,cast,binary_cast,director,binary_director,keywords,binary_keywords,vote_average
1,1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[GoreVerbinski],"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[ocean, drugabuse, exoticisland, eastindiatrad...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",6.9

In [157]:
distances=[]
for index, row in movies_new.iterrows():
    if new_movie['id'].values[0]!=row['id']:
        dist = Similarity(new_movie['id'].values[0], row['id'])
        distances.append((row['id'], dist))

In [158]:
import operator
distances.sort(key=operator.itemgetter(1))

In [159]:
top10=distances[:10]

In [160]:
top10

[(12, 0.303030303030303),
 (199, 0.6462935891049963),
 (13, 1.3108600045845586),
 (178, 1.657361044068689),
 (1183, 1.7113248654051871),
 (2204, 2.0),
 (17, 2.852877528415875),
 (262, 2.965860562900054),
 (329, 2.9676745908082385),
 (129, 2.969227127255167)]

In [161]:
print('Selected Movie was---->', a)
print()
print("-------------------------------Recommended Movies-----------------------------------------")
print()
for i in top10:
    print(movies_new.iloc[i[0]][1]+" | Genres: "+str(movies_new.iloc[i[0]][2])+" | Director: "+str(movies_new.iloc[i[0]][6]))

Selected Movie was----> Pirates of

-------------------------------Recommended Movies-----------------------------------------

Pirates of the Caribbean: Dead Man's Chest | Genres: ['Adventure', 'Fantasy', 'Action'] | Director: ['GoreVerbinski']
Pirates of the Caribbean: The Curse of the Black Pearl | Genres: ['Adventure', 'Fantasy', 'Action'] | Director: ['GoreVerbinski']
The Lone Ranger | Genres: ['Action', 'Adventure', 'Western'] | Director: ['GoreVerbinski']
Rango | Genres: ['Animation', 'Comedy', 'Family', 'Western', 'Adventure'] | Director: ['GoreVerbinski']
The Mexican | Genres: ['Action', 'Comedy', 'Crime', 'Romance'] | Director: ['GoreVerbinski']
The Weather Man | Genres: ['Comedy', 'Drama'] | Director: ['GoreVerbinski']
Pirates of the Caribbean: On Stranger Tides | Genres: ['Adventure', 'Action', 'Fantasy'] | Director: ['RobMarshall']
The Lord of the Rings: The Fellowship of the Ring | Genres: ['Adventure', 'Fantasy', 'Action'] | Director: ['PeterJackson']
The Lord of the Rings: The Return of the King | Genres: ['Adventure', 'Fantasy', 'Action'] | Director: ['PeterJackson']
Thor | Genres: ['Adventure', 'Fantasy', 'Action'] | Director: ['KennethBranagh']